<html>
<title>NaMoPaiMo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<div class="w3-container">
  <div class="w3-display-container w3-light-gray" style="height:100%;">
    <div class="w3-display-middle">
      <div class="w3-card-4">
        <header class="w3-container w3-green w3-center">
          <h1>Address verification complete!</h1>
        </header>
        <div class="w3-container w3-center">
          <img src="namopaimo.png" style="height:300px;">
          <p>
            Thank you for taking the time to verify your address! Your help is greatly appreciated!
          </p>
        </div>
        <footer class="w3-container w3-green w3-center">
          <h5>NaMoPaiMo 2020</h5>
        </footer>
      </div>
    </div>
  </div>
</div>
</body>
</html>
