<html>
<title>NaMoPaiMo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <!-- Header -->
  <header class="w3-bar w3-black">
      <a href="/" class="w3-bar-item w3-mobile w3-button w3-light-gray"> NaMoPaiMo </div>
      <a href="/completed" class="w3-bar-item w3-button w3-mobile">Completed Entries</a>
      <a href="/complete" class="w3-bar-item w3-button w3-mobile">Complete Your Entry</a>
  </header>

  <br>
  <!-- Body -->
  <div class="w3-center">
    <div class="w3-card-4">
      <div class="w3-container w3-green">
        <h2>2020 Registration</h2>
      </div>
      <form action="/register/" method="post" class="w3-container">
        <div class='w3-row-padding'> <!-- First name -->
          <div class='w3-quarter'>
            <p>First Name</p>
          </div>
          <div class='w3-threequarter'>
            <input class="w3-input" type="text" name="first" placeholder="Darcy" maxlength="20" required>
          </div>
          <div class='w3-row-padding'> <!-- Last Name -->
            <div class='w3-quarter '>
              <p>
                Last Name
              </p>
            </div>
            <div class='w3-threequarter'>
              <input class="w3-input" type="text" name="last" placeholder="Dog" maxlength="25" required>
            </div>
          </div>
          <div class='w3-row-padding'> <!-- Email -->
            <div class='w3-quarter '>
              <p>
                Email
              </p>
            </div>
            <div class='w3-threequarter'>
              <input class="w3-input" type="text" name="email" placeholder="darcy@dog.com" maxlength="100" required>
            </div>
          </div>
          <div class='w3-row-padding'> <!-- Address Line 1-->
            <div class='w3-quarter'>
              <p>
                Address <br>(English/Latin characters only)
              </p>
            </div>
            <div class='w3-threequarter'>
              <input class="w3-input" type="text" name="address" placeholder="Address Line 1" maxlength="200">
              <input class="w3-input" type="text" name="address2" placeholder="Address Line 2" maxlength="30">
              <input class="w3-input" type="text" name="city" placeholder="City" maxlength="30">
              <input class="w3-input" type="text" name="state" placeholder="State" maxlength="30">
              <input class="w3-input" type="text" name="zip" placeholder="ZIP code" maxlength="10">
            </div>
          </div>
          <div class='w3-row-padding'> <!-- Address Line 2 (Country)-->
            <div class='w3-quarter'>
              <p>
                Country
              </p>
            </div>
            <div class='w3-threequarter'>
              <input class="w3-input" type="text" name="country" placeholder="USA" maxlength="50" required>
            </div>
          </div>
          <div class='w3-row-padding'> <!-- Experience Level -->
            <div class='w3-quarter'>
              <p>
                Experience Level
              </p>
            </div>
            <div class='w3-threequarter'>
              <select class="w3-select" name="level" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="First Time Painter">First Time Painter</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced Amateur">Advanced Amateur</option>
                <option value="Professional">Professional</option>
              </select>
            </div>
          </div>
          <div class='w3-row-padding'> <!-- youth shower?-->
            <div class='w3-quarter'>
              <p>
                Age range
              </p>
            </div>
            <div class='w3-threequarter w3-container'>
              <select class="w3-select" name="age" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="Under 12">Under 12</option>
                <option value="12-20">12-20</option>
                <option value="21-40">21-40</option>
                <option value="OLD">40+</option>
              </select>
            </div>
          </div>
          <div class='w3-row-padding'> <!-- Model Description -->
            <div class='w3-quarter'>
              <p>
                Model Description
              </p>
            </div>
            <div class='w3-threequarter'>
              <textarea name="desc" rows="2" class="w3-input" placeholder="Make / Mold / Scale" maxlength="250" required></textarea>
            </div>
          </div>
          <div class='w3-row-padding'> <!-- Painting plan / medium-->
            <div class='w3-quarter'>
              <p>
                Media
              </p>
            </div>
            <div class='w3-threequarter'>
              <textarea name="medium" rows="3" class="w3-input" placeholder="Oils, acrylics, pastels, etc." maxlength="250" required></textarea>
            </div>
          </div>
          <div class='w3-row-padding'> <!-- Painting plan / colors -->
            <div class='w3-quarter'>
              <p>
                Color
              </p>
            </div>
            <div class='w3-threequarter'>
              <textarea name="color" rows="3" class="w3-input" placeholder="Color" maxlength="50" required></textarea>
            </div>
          </div>
          <div class='w3-row-padding'> <!-- Goals / Challenges -->
            <div class='w3-quarter'>
              <p>
                Personal Goals or challenges
              </p>
            </div>
            <div class='w3-threequarter'>
              <textarea name="data" rows="3" class="w3-input" placeholder="(Optional)" maxlength="500"></textarea>
            </div>
          </div>
          <br>
          <div class='w3-row-padding'> <!-- entry fee payed?-->
            <div class='w3-quarter'>
              <p>
                Entry fee paid? <i>($2 entry fee, optional but very much appreciated. PayPal: NaMoPaiMo@gmail.com)</i>
              </p>
            </div>
            <div class='w3-threequarter w3-container'>
              <select class="w3-select" name="fee" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <input type="submit" class="w3-btn w3-dark-gray" value="Submit" name="submit">
      </form>
    </div>
  </div>

  <br>

  <!-- Footer -->
  <footer class="w3-container w3-black w3-padding-16">
    <h3>NaMoPaiMo</h3>
    <p>
      Ryan Buxton 2020<br>
      <i><a href="https://github.com/rbuxton1/node-namopaimo">Heres how it works</a></i>
    </p>
  </footer>
  </body>
</html>
