<html>
<title>NaMoPaiMo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<div class="w3-container">
  <div class="w3-display-container w3-light-gray" style="height:100%;">
    <div class="w3-display-middle">
      <div class="w3-card-4">
        <header class="w3-container w3-green w3-center">
          <h1>Registration complete!</h1>
        </header>
        <div class="w3-container w3-center">
          <img src="namopaimo.png" style="height:300px;">

          <h2>Your completion code is:</h2>
          <h1><%= code %></h1>
          <i>
            You will receive an email containing your completion code. It is extremely important that you do not lose this code. You will need it to upload a photo of your completed entry at the end of the event. This is the only way to officially "win" NaMoPaiMo.
            Please remember to check your spam folder!<br>
          </i>
          <p>
            Good luck! You can do it!
          </p>
        </div>
        <footer class="w3-container w3-green w3-center">
          <h5>NaMoPaiMo 2020</h5>
        </footer>
      </div>
    </div>
  </div>
</div>
</body>
</html>
